/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


:root {
    --bluebutton: #00ccff;
    --white: #fff;
    --grey: #838383;
  }

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
} 

body {
    font-size: 1.6rem;
    background: url("../images/background-stars.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Kanit", sans-serif;
}

/** Star Wars logo on top of background picture **/

#star-wars-logo {
    margin: -6rem auto;
    max-width: 80%;
    align-items: center;
    display: block;
    
}

/** Game Board and buttons **/

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

.btn {
    background-color: var(--bluebutton);
    width: 25rem;
    height: 4.5rem;
    margin: 4.5rem 0 0 0;
    border: none;
    border-radius: 1rem;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--grey);
}

/** Rules **/

#rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    margin: 5% auto;
    font-size: 1.5rem;
    backdrop-filter: blur(10px);
    height: 80%;
    width: 25rem;
}

.rules-paragraph {
    margin: 4px auto;
    font-size: 1.5rem;
}

/** Highscore / Leaderboard **/

.score {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    height: 80%;
    width: 25rem;
    font-size: 1.5rem;
    backdrop-filter: blur(10px);
}

.score-list {
    margin-top: 0.7rem;
}

/** footer **/

footer {
    color: var(--white);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     
}